#kristina {
    header {
        background-image: url("../assets/img/K_Hendel_2022 6.webp");
        background-position: center;
    }
    #leistungen {
        background-image: url("../assets/img/K_Hendel_2022\ 7_upscale.webp");
        background-position-y: 40%;
    }
}