#kristina {
    .subpage-header {
        background-image: url("../assets/img/K_Hendel_2022 6.jpeg");
        background-position: center;
    }
    #leistungen {
        background-image: url("../assets/img/K_Hendel_2022\ 7_upscale.jpeg");
        background-position-y: 40%;
    }
}