@use "bootstrap";
@use "abstracts/animations";
@use "abstracts/colors";
@use "abstracts/sizes";
@use "abstracts/fonts";
@use "navbar";


:root {
    color-scheme: dark;
}

html, body{
    background-color: colors.$base-color;
    color:#fff;
    font-family: "Roboto", sans-serif;
}


body {
    overflow-x: hidden;
    height: 100vh;
    perspective: 100px;
    -webkit-perspective: 100px;
}

.container {
    @include bootstrap.media-breakpoint-up(lg) {
        max-width: 960px;
    }
}

.row {
    --bs-gutter-x: 10rem;
    align-items: center;
}

@mixin blob {
    content: "";
    background-image: animations.$blob-gradient;
    box-shadow: 0px 0px 20px 2px rgba(colors.$orange, 0.9);
    -webkit-box-shadow: 0px 0px 20px 2px rgba(colors.$orange, 0.9);
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    border-radius: 61% 39% 54% 46% / 59% 51% 49% 41%;
    // animation: wiggle 20s infinite;
}


.blob {
    position: relative;
    z-index: 1;
    &:after {
        @include blob;
    }
}

.blob-left {
    &:after {
        width: 200%;
        left: -100%
    }
}

.blob-right {
    &:after {
        width: 200%;
        right: -100%;
    }
}

.blob-top {
    &:after {
        top: -25%;
    }
}

.blob-bottom {
    &:after {
        top: 25%;
    }
}

.text {
    padding-top: sizes.$text-padding;
    padding-bottom: sizes.$text-padding;
}

.header-home {
    position: relative;
    z-index: -1;
    display: flex;
    align-items: center;
    &.blob {
        &:after {
            object-fit: cover;
            height: 150%;
            top: auto;
            left: 50%;
            @include bootstrap.media-breakpoint-down(md) {
                display: none;
            }
        }
    }
    .blob {
        overflow-y: hidden;
        &:after {
            width: 80%;
            left: 10%;
        }
        .image {
            height: 100%;
            img {
                object-fit: cover;
                object-position: top;
                width: 100%; 
                height: sizes.$image-height;  
            }
        }
    }
}


section {
    display: flex;
    margin-bottom: sizes.$large-spacing;
    &:last-child {
        padding-bottom: sizes.$large-spacing;
    }
        .row {
            .image {
                display: flex;
                img {
                    object-fit: cover;
                    object-position: top;
                    width: auto;
                    max-height: sizes.$image-height;
                    @include bootstrap.media-breakpoint-down(md) {
                        max-height: sizes.$image-height-md;
                    }
                    @include bootstrap.media-breakpoint-down(lg) {
                        max-height: sizes.$image-height-lg;
                    }
                    @include bootstrap.media-breakpoint-down(xl) {
                        max-height: sizes.$image-height-xl;
                    }
            }
        }
    }
}

.sponsors {
    &:before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 110%;
        height: 110%;
        z-index: -1;
        background-image: url("../assets/img/jake-blucker-OJX7gIU3E6U-unsplash.jpg");
        background-size: cover;
        background-position: center;
        filter: grayscale(100%) blur(sizes.$blur);
    }
    overflow: hidden;
    padding: sizes.$large-spacing 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    .container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .row {
        --bs-gutter-x: 1rem;
        --bs-gutter-y: 1rem;
        .image {
            border-radius: sizes.$border-radius;
            height: 200px;
            background: rgba($color: #fff, $alpha: 0.5);
            backdrop-filter: blur(sizes.$blur);
            img{
                object-fit: contain;
                object-position: center;
                
            }
        }
    }
}

footer {
    height: 1px;
}