@use "bootstrap";
@use "abstracts/animations";
@use "abstracts/colors";
@use "abstracts/sizes";
@use "navbar";


:root {
    color-scheme: dark;
}

html, body{
    overflow: hidden;
    background-color: colors.$base-color;
    color:#fff;
}

body {
    height: 100vh;
    overflow-y: auto;
    perspective: 100px;
    -webkit-perspective: 100px;
}

.container {
    @include bootstrap.media-breakpoint-up(lg) {
        max-width: 960px;
    }
}

.row {
    --bs-gutter-x: 10rem;
    align-items: center;
}

@mixin blob {
    content: "";
    background-image: animations.$blob-gradient;
    box-shadow: 0px 0px 20px 2px rgba(colors.$orange, 0.9);
    -webkit-box-shadow: 0px 0px 20px 2px rgba(colors.$orange, 0.9);
    position: absolute;
    top: 20px;
    left: 20px;
    height: calc(100% - 40px);
    width: calc(100% - 40px);
    z-index: -1;
    animation: wiggle 20s infinite;
}


.blob {
    position: relative;
    &:after {
        @include blob;
    }
}

.blob-left {
    &:after {
        width: 200%;
        left: -100%
    }
}

.blob-right {
    &:after {
        width: 200%;
        right: -100%;
    }
}

.blob-bottom {
    &:after {
        top: 25%;
    }
}

.text {
    padding-top: sizes.$text-padding;
    padding-bottom: sizes.$text-padding;
}

header {
    position: relative;
    z-index: -1;
    margin-bottom: -10px;
    display: flex;
    align-items: center;
    transform-style: preserve-3d;
    &.blob {
        &:after {
            transform: translateZ(-25px) scale(1.25) translateX(50%) translateY(-10%);
            height: 150%;
            top: auto;
            @include bootstrap.media-breakpoint-down(md) {
                display: none;
            }
        }
    }


    .blob {
        overflow-y: hidden;
        &:after {
            width: 80%;
            left: 10%;
        }
        .image {
            height: 100%;
            img {
                object-fit: cover;
                object-position: top;
                width: 100%; 
                height: sizes.$image-height;  
            }
        }
    }
    .row {
        transform: translateZ(-10px) scale(1.1) ;
    }
}


section {
    display: flex;
    position: relative;
        .row {
            .image {
                display: flex;
                img {
                    object-fit: cover;
                    object-position: top;
                    width: auto;
                    max-height: sizes.$image-height;
            }
        }
    }
}



#section1 {
    background: colors.$base-color;
    height: sizes.$image-height;
}
